.start {
  min-height: 100vh;
  background: linear-gradient(#0b004f, #05002a);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  &__title {
    font-size: 48px;
    margin-bottom: 24px;
  }

  &__form {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  button {
    height: 40px;
    border-radius: 8px;
    background: #6c6c6c;
    color: white;
  }
}