.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
}

.popup {
  background: #fff;
  padding: 16px 20px;
  border-radius: 8px;
  min-width: 280px;
  max-width: 90%;
}

.popup__body p {
  margin: 0 0 12px;
}

.popup__footer {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.popup-btn {
    width: 40px;
    height: 25px;
    background-color: #6180FF;
    border-radius: 10px;
}
